---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
import { useStoryblokApi } from "@storyblok/astro";
import Post from "@/storyblok/Post.astro";

const slug = Astro.params.slug;

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get(`cdn/stories/${slug}`, {
  content_type: "post",
  version: import.meta.env.STORYBLOK_MODE,
});

const blok = data.story;
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="bg-slate-50 flex flex-col min-h-screen">
    <a href="/" class="p-4">
      ← Back to home
    </a>
    <main class="flex-grow">
      <Post blok={blok} />
    </main>
    <Footer />
  </body>
</html>
