---
import Avatar from "./Avatar.astro";
import SocialLinks from "./SocialLinks.astro";

interface Props {
  avatarSize?: "sm" | "md" | "lg";
  class?: string;
}

const { avatarSize, class: _class } = Astro.props;
---

<section
  class={"flex flex-col sm:flex-row justify-center items-center max-w-[1000px] gap-7" +
    (_class ? " " + _class : "")}
>
  <Avatar size={avatarSize} />
  <div class="flex flex-col gap-7 flex-shrink">
    <div>
      <h1 class="text-3xl md:text-5xl">R.M. Wardell</h1>
      <p class="text-lg md:text-xl">
        R.M.’s relationship with words was at first a fractious struggle with
        dyslexia that left R.M. in tears on more than one occasion. As time and
        skills developed, a love for poetry, creativity, and story overthrew
        many fears and led to an imperfect and courageous life. From their
        original secretive spy journals to their current work in progress, their
        words often explore the power of healing and connection through
        compassion, truth, and nature. R.M. is the author of their debut poetry
        book <em class="italic">Held</em>, releasing in 2025. When they are not
        writing, they are usually reading, hiking, and playing with their family
        in the parks and woods of the PNW.
      </p>
    </div>
    <div class="m-auto md:m-0">
      <slot />
    </div>
    <div class="flex justify-center">
      <SocialLinks class="max-w-[250px]" />
    </div>
  </div>
</section>
