---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";

interface Props {
  hideFooter?: boolean;
}

const { hideFooter } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="flex flex-col min-h-screen">
    <div
      class="bg-gradient-to-br from-violet-600 via-white to-white h-[75px] w-full absolute top-0 left-0"
    >
    </div>
    <main class="flex-grow p-6"><slot /></main>
    {!hideFooter && <Footer />}
  </body><!-- Analytics -->
  <script
    data-goatcounter="https://thoughtfulgayodysseys.goatcounter.com/count"
    async
    src="//gc.zgo.at/count.js"></script>
</html>
