---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";

interface Props {
  hideFooter?: boolean;
}

const { hideFooter } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body
    class="bg-gradient-to-b to-[#FCAB20] from-white flex flex-col min-h-screen"
  >
    <main class="flex-grow"><slot /></main>
    {!hideFooter && <Footer />}
  </body><!-- Analytics -->
  <script
    data-goatcounter="https://thoughtfulgayodysseys.goatcounter.com/count"
    async
    src="//gc.zgo.at/count.js"></script>
</html>
