<footer
  class="bg-gradient-to-tl from-violet-600 via-white to-white min-h-[75px] w-full"
>
  <div class="px-8 md:px-12 mx-auto max-w-7xl py-6 lg:px-32">
    <section class="gap-y-6 gap-x-8">
      <div class="flex flex-col md:flex-row gap-4 justify-between items-center">
        <p class="text-sm text-zinc-600 lg:col-span-2">
          © R.M. Wardell. All rights reserved.
        </p>
        <div class="grid grid-cols-3 md:flex gap-3">
          <a
            class="hover:text-violet-950 rounded-lg hover:scale-105 transition-all duration-200 hover:shadow-xl text-zinc-600 m-auto"
            href="https://bsky.app/profile/rmwardell.bsky.social"
            aria-label="Bluesky"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              class="w-6 h-6"
              ><path
                fill="currentColor"
                d="M12 11.388c-.906-1.761-3.372-5.044-5.665-6.662c-2.197-1.55-3.034-1.283-3.583-1.033C2.116 3.978 2 4.955 2 5.528c0 .575.315 4.709.52 5.4c.68 2.28 3.094 3.05 5.32 2.803c-3.26.483-6.157 1.67-2.36 5.898c4.178 4.325 5.726-.927 6.52-3.59c.794 2.663 1.708 7.726 6.444 3.59c3.556-3.59.977-5.415-2.283-5.898c2.225.247 4.64-.523 5.319-2.803c.205-.69.52-4.825.52-5.399c0-.575-.116-1.55-.752-1.838c-.549-.248-1.386-.517-3.583 1.033c-2.293 1.621-4.76 4.904-5.665 6.664"
              ></path></svg
            >
          </a>
          <a
            class="hover:text-violet-950 rounded-lg hover:scale-105 transition-all duration-200 hover:shadow-xl text-zinc-600 m-auto"
            href="https://www.instagram.com/r.m.wardell/"
            aria-label="Instagram"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              class="w-6 h-6"
              ><path
                fill="currentColor"
                d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
              ></path></svg
            >
          </a>
          <a
            href="/rss.xml"
            class="hover:text-violet-950 rounded-lg hover:scale-105 transition-all duration-200 hover:shadow-xl text-zinc-600 m-auto"
            aria-label="RSS Feed"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              class="w-6 h-6"
              ><!-- Icon from Lucide by Lucide Contributors - https://github.com/lucide-icons/lucide/blob/main/LICENSE -->
              <g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                ><path d="M4 11a9 9 0 0 1 9 9M4 4a16 16 0 0 1 16 16"
                ></path><circle cx="5" cy="19" r="1"></circle></g
              ></svg
            >
          </a>
          <a
            href="mailto:radiancemwardell@gmail.com"
            target="_blank"
            class="flex gap-2 align-center text-sm text-zinc-600 hover:text-violet-950 hover:scale-105 transition-all duration-200 hover:underline m-auto col-span-3 md:col-span-1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              class="w-6 h-6"
              ><!-- Icon from Lucide by Lucide Contributors - https://github.com/lucide-icons/lucide/blob/main/LICENSE -->
              <g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
                  d="m22 7l-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></g
              ></svg
            >
            <span>radiancemwardell@gmail.com</span>
          </a>
        </div>
      </div>
    </section>
  </div>
</footer>
